@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100;200;300;400&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Anek Latin', sans-serif;
}

body {
    background: rgba(29, 29, 29, 255);
}

.main-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    font-size: 55px;
    color: white;
}

.logo-custom-color {
    color: rgb(237, 158, 255);
}

.nav {
    display: flex;
}

.nav-item {
    margin: 14px auto auto auto;
    list-style-type: none;
}

.nav-item a
{
    opacity: 60%;
    text-decoration: none;
    color: white;
}

.nav-item a:hover {
    animation: hover-animation 1s forwards;
}

.copied {
    position: absolute;
    margin-top: 14px;
    width: 100%;
    text-align: center;
    color:rgb(247, 160, 255);
    opacity: 80%;
}

.fadeOut{
    opacity:0;
    margin-top: 14px;
    color:rgb(247, 160, 255);
    position: absolute;
    width: 100%;
    text-align: center;
    transition: opacity 0.5s 0.1s;
}

.fadeIn{
    opacity: 1;
    margin-top: 14px;
    color:rgb(247, 160, 255);
    position: absolute;
    width: 100%;
    text-align: center;
    transition: opacity 0.5s 0.1s;

}

@keyframes hover-animation {
    0% 
    {
        opacity: 60%;
    }
    100%
    {
        opacity: 100%;
    }
}